body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Hind", 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  overflow: hidden;
}


canvas:focus {
  border: none;
  outline: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.container__visualizador {
  flex: 6;
  background: #f0f0f0;
  max-width: 78%;
}

.container__sidebar {
  flex: 2;
  background: #f9f9f9;
  padding: 10px;
}

.container__sidebar__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.container__sidebar__form {
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 15px;
}

.form__label {
  margin-bottom: 5px;
  display: block;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding: 12px 24px;
  text-align: center;
  cursor: pointer;
}

.form__input {
  display: none;
}

.animations__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.animations__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  border: 1px solid #f0f0f0;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.bi {
  font-size: 24px;
}